@font-face {
    font-family: 'genlight';
    src: url('fonts/Gen-Light.eot');
    src: local('☺'), url('fonts/Gen-Light.woff') format('woff'), url('fonts/Gen-Light.ttf') format('truetype'), url('fonts/Gen-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul {
    -webkit-padding-start: 0;
}

#astro-disc,
html {
    font-size: 16px;
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 17px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 19px;
    }
}

@media screen and (min-width: 1800px) {
    html {
        font-size: 20px;
    }
}

body, input, textarea, select, option,
span.symbol-radio label {
    font-family: genlight, Helvetica, Arial, sans-serif;
}

.large-pane,
#main {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100vw;
}


.large-pane {
    opacity: 0;
    pointer-events: none;
}

#main .large-pane.active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

#main {
    padding: 4em 0 0 0;
    z-index: 1;
}


#results-pane {
    text-align: left;
    width: 60vw;
    min-height: 50vh;
    padding: 2vw;
    left: 36vw;
    opacity: 0;
}

#results-pane.active {
    opacity: 1;
}

/*#control-panel .input-group-addon,
#control-panel .ui-datebox-container {
    opacity: 0;
    pointer-events: none;
}*/

@media screen and (min-width: 960px) {
    /*#control-panel .input-group-addon,
    #control-panel .ui-datebox-container {
      opacity: 1;
      pointer-events: auto;
    }*/

    .large-pane,
    #main {
        width: 75vw;
    }
    #main {
        padding: 4em 0 0 25vw;
    }

}

#control-panel object#tween-symbol-container svg {
    position: relative;
    max-width: 6vw;
    margin-top: 1em;
}



#control-panel hr {
    border:none;
    border-bottom: solid 0.25em #F87431;
}

#control-panel fieldset {
    border: none;
    padding: 1em 0;
    margin: 0;
    position: relative;
}

#control-panel fieldset.closed {
  padding: 1em 0 0.25em 0;
}

#control-panel fieldset.closed > div {
    height: 0;
    padding: 0;
    overflow: hidden;
}

#control-panel p.has-dms input.degree {
    display: none;
}

#control-panel fieldset fieldset p {
    margin: 0.25em 0;
    padding: 0;
}
#control-panel input.gender {
    margin-left: 0.5em;
    width: 0.8em;
}
#control-panel label.gender {
    font-size: 0.8em;
}
#control-panel .gender {
    line-height: 24%;
    height: 0.8em;
}

#control-panel div > label,
#control-panel p.full-span input {
    width: 92%;
}

#control-panel div > label {
    display: block;
}

#control-panel div > .half-width {
    float: left;
    width: 45%;
}

#control-panel > fieldset,
#control-panel > div,
#control-panel fieldset div.full-width {
    position:  relative;
    width:  100%;
}

#control-panel div > .first {
    clear:  both;
}

#control-panel div.datetime > .first {
    max-width:  60%;
    width:  60%;
}

#control-panel fieldset {
    clear:  both;
}

#control-panel #timezone-settings {
    padding:  1em 0 0 0;
    min-height: 1em;
}

#control-panel #timezone-settings.open {
    padding:  2em 0 0 0;
    margin: 0 0 0.5em 0;
    min-height: 2em;
}

#control-panel #timezone-settings h3.toggle {
    left:  0;
    padding-top: 0.5em;
}

#control-panel div.datetime > .second {
    width:  36%;
    max-width:  36%;
}

#control-panel #form-location {
    min-width: 10em;
    max-width: 75%;
}

#control-panel textarea.full-width {
    width:  90%;
    clear:  both;
}


#control-panel fieldset > .toggle {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999999;
}

#control-panel fieldset > .toggle-icon {
    left: 0;
    width: 1em;
    height: 1em;
}

#control-panel fieldset.closed > .toggle-icon:before {
    content: "+";
}

#control-panel fieldset h5.toggle,
#control-panel fieldset h4.toggle,
#control-panel fieldset h3.toggle {
    left: 1.5em;
    margin: 0;
    padding: 0;
}

#control-panel fieldset h3.toggle {
    font-size: 1em;
}

#control-panel fieldset h4.toggle {
    font-size: .9em;
}

/*#control-panel .masked .input-group,
#control-panel .masked .glyphicon {
    display: none;
}*/

#control-panel fieldset {
  margin: 1em 0;
}

#control-panel fieldset.open > .toggle-icon:before {
    content: "-";
}

#control-panel fieldset.open fieldset.closed,
#control-panel fieldset.closed {
    max-height: 0;
    overflow: hidden;
}
#control-panel fieldset p.text {
    font-size: 0.9em;
    margin: 0.5em 0 0 0.9em;
}
#control-panel span.symbol-radio {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    margin: 0 1em 0 0;
    cursor: pointer;
    filter: grayscale(90%);
}

#control-panel span.symbol-radio:hover,
#control-panel span.symbol-radio.checked {
    filter: grayscale(0%);
}

#control-form .glyphicon-time,
#control-form .glyphicon-calendar {
    font-family: "icomoon";
    font-size: 1.3333em;
}

#control-form .glyphicon-calendar:before {
    content: "\e953";
}

#control-form .glyphicon-time:before {
    content: "\e94e";
}

#control-panel span.icon-female-bust {
    color: #ff5555;
}

#control-panel span.icon-male-bust {
    color: #3333ff;
}

#control-panel span.symbol-radio input {
    display: none;
}

#control-panel span.symbol-radio label {
    opacity: 0;
    position: absolute;
    top: -0.75em;
    left: 1.25em;
    font-size: 0.5em;
    color: #999999;
}

#control-panel span.symbol-radio:hover label {
    opacity: 1;
}

#control-panel fieldset.open fieldset.open fieldset.closed > p,
#control-panel fieldset.open fieldset.closed > p,
#control-panel fieldset.closed > p {
    opacity: 0;
    pointer-events: none;
}

#control-panel fieldset.closed fieldset.closed {
    display: none;
}

#control-panel fieldset {
    transition: max-height .5s ease-in;
}

#control-panel fieldset.open {
    padding: 1.5em 0 1em 0;
    max-height: 100em;
    overflow: visible;
}

#control-panel fieldset.open p {
    opacity: 1;
    pointer-events: auto;
}

#control-panel .form-actions {
    clear: both;
    margin: 1em 0;
}


#tween-symbol-container .symbol {
    fill: none;
    stroke: #990000;
    stroke-width: 3px;
}

#results-pane object#tween-symbol-container {
    position: relative;
    clear: both;
}

#results-pane dl dd,
#results-pane dl dt {
    float: left;
    margin-bottom: 0.75em;
}

#results-pane dl dt {
    clear: both;
    width: 8em;
    margin-right: 0.75em;
    font-weight: bold;
}

#results-pane dl dd {
    padding: 0;
    margin-left: 0;
}

#results-pane dl dd pre {
    max-width: 40em;
    overflow: auto;
    color: #999999;
}


#results-pane dl dd ul {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding:0;
}

#results-pane dl dd li {
    margin: 0;
    padding: 0;
}

#main > .large-pane {
    transition: opacity 0.25s ease-in;
}

#main > .active {
    opacity: 1;
    pointer-events: auto;
    z-index: 40;
}

.large-pane {
    position: absolute;
    top: 8em;
    left: 0;
    right: 0;
}

.large-pane svg {
    position: relative;
    width: 60vw;
    max-width: 100%;
    height: 60vw;
    margin-left: 5vw;
}

#infobox {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 1em;
    background: rgba(0,0,0,0.25);
    color: yellow;
    padding: 1em;
    text-align: left;
}

#infobox p {
    padding: 0;
    margin: 0 0 0.25em 0;
}

#infobox.has-data {
    opacity: 1;
}

.query-list li span.delete {
    display: none;
}

.listing ol li {
    cursor: pointer;
}

ol.hospitals li.selected {
  color: #00ff00;
}

ol.geonames li.selected {
   font-style: italic;
}
ol.hospitals li:hover {
    color: #0000ff;
}

ol.geonames li:hover {
  color: #990066;
}

.query-list li:hover span.delete {
    display: inline-block;
    margin-left: .5em;
    color: red;
    font-weight: bold;
    transform: scale(2,2);
    cursor: pointer;
}

@media screen and (max-width: 959px) {
    object.large-pane {
      left: 5vw;
    }
    .large-pane svg {
        width: 75vw;
        height: 75vw;
    }
}

@media screen and (min-width:960px) and (max-width: 1279px) {
    object.large-pane {
      left: 15vw;
    }
    .large-pane svg {
        width: 66.667vw;
        height: 66.67vw;
    }
}




.large-pane svg .planet {
    transition: transform 1s ease-in, opacity .5s ease-in;
}

.large-pane svg .body {
    transition: transform 1s ease-in, opacity .5s ease-in;
}

.planet {
    opacity: 0;
}

.large-pane svg.planets-assigned .planet {
    opacity: 1;
}

.line-label,
.boundary {
    transform-origin: 100% 100% 0;
    transition: transform .5s ease-in;
}

line.solid {
    stroke-width: 1px;
    stroke: black;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    8.3333% {transform: rotate(30deg);}
    16.6667% {transform: rotate(60deg);}
    25% {transform: rotate(90deg);}
    33.3333% {transform: rotate(120deg);}
    41.6667% {transform: rotate(150deg);}
    50% {transform: rotate(180deg);}
    58.3333% {transform: rotate(210deg);}
    66.6667% {transform: rotate(240deg);}
    75% {transform: rotate(270deg);}
    83.3333% {transform: rotate(300deg);}
    91.6667% {transform: rotate(330deg);}
    100% {transform: rotate(360deg);}
}

#control-panel:hover .toggle-aside:before {
    animation: spin 1s infinite linear;
}



#dial {
    animation: spin 60s infinite;
    transform-origin: 50% 50% 0;
}

.planet path {
    fill: #999999;
    transform: scale(0.5);
}

.mars path {
    fill: #ff0000;
}

.jupiter path {
    fill: #996000;
}

.mercury path {
    fill: #66ff00;
}

.venus path {
    fill: #004499;
}

.saturn path {
    fill: #0000ff;
}

.neptune path {
    fill: #990066;
}

.uranus path {
    fill: #229966;
}


#control-panel {
    z-index: 10;
    position: absolute;
    top: 1em;
    left: 0;
    width: 2.75em;
    transition: width .5s ease-in;
    overflow: hidden;
    min-height: 100vh;
}

#control-panel .toggle-aside {
    position: absolute;
    font-size: 0;
    top: 2rem;
    right: 0.5rem;
    width: 2rem;
    height: 4rem;
    z-index: 40;
}

.show-control-panel #control-panel .toggle-aside {
    right: 0.5rem;
}

#control-panel .toggle-aside:before {
    font-family: "icomoon";
    font-size: 2rem;
    content: "\e994";
    cursor:pointer;
    position: absolute;
    top: 0;
    right:0;
    color: #999999;
    transition: transform .5s ease-in;
}

#control-panel .toggle-aside:hover:before {
    transform: rotate(-45deg);
    color: #3399ff;
}

.show-control-panel #control-panel .toggle-aside:before {
    transform: rotate(45deg);
    animation: none;
}

.show-control-panel #control-panel .toggle-aside:hover:before {
    transform: rotate(-15deg);
}

#queries,
#control-panel form {
    opacity: 0;
    max-height:0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 0.25s linear .5s,max-height 0 linear .5s;
}

#queries li span {
    cursor:  pointer;
    display:  inline-block;
}

#queries li span.delete {
    padding-left: 1em;
}

#queries li span.delete:after {
    content:  "-";
    font-size:  1.5em;
    color:  red;
}

#control-panel,
#control-panel .toggle-aside {
    cursor: pointer;
}

.show-control-panel #control-panel {
    max-width: 96vw;
    width: 100%;
    padding: 3vh 2vw;
    transition: width .5s ease-in,min-width 0s linear .5s;
    background-color: white;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    pointer-events: auto;
    cursor: auto;
}

@media screen and (min-width: 640px) {
    .show-control-panel #control-panel {
        width: 75vw;
        max-width: 32em;
    }
    #control-panel #form-location {
        min-width: 13em;
    }
    #control-panel form {
        min-width:  16em;
    }
}


@media screen and (min-width: 960px) {
    .show-control-panel #control-panel {
        width: 40vw;
        max-width: 36em;
    }
    #control-panel #form-location {
        min-width: 14em;
        max-width: 80%;
    }
    #control-panel form {
        min-width:  21em;
    }
}

@media screen and (min-width: 1280px) {
    .show-control-panel #control-panel {
        width: 36vw;
    }
}

@media screen and (min-width: 1440px) {
    .show-control-panel #control-panel {
        width: 30vw;
    }
}

.show-control-panel #queries,
.show-control-panel #control-panel form {
    opacity: 1;
    transition: opacity 0.25s linear;
    pointer-events: auto;
    height: auto;
    max-height: 400vh;
}

#control-panel .input-group {
    display: inline-block;
    position: relative;
    width: 5em;
    padding-right: 0.5em;
}

#control-panel .input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    height: 1em;
    width: 1em;
}

#control-panel span.dms-select {
    display: inline-block;
}

#control-panel span.dms-select input {
    outline: none;
}

#control-panel span.dms-select,
#control-panel input.degree {
    max-width: 0;
    
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

#control-panel fieldset.coordinates {
    padding:  0;
    margin-top: 0;
}

fieldset.show-dms-degrees .degree-mode-controls .dms-mode,
fieldset.display .degree-mode-controls .show-mode,
fieldset.show-dec-degrees .degree-mode-controls .dec-mode,
fieldset.display .degree-mode-controls .find-map {
    display:  none;
}

fieldset.coordinates .degree-mode-controls span:before {
    font-family: "icomoon";
}

fieldset.coordinates .degree-mode-controls .dms-mode:before {
    content:  "\e910";
}
fieldset.coordinates .degree-mode-controls .dec-mode:before {
    content:  "\e913";
}
fieldset.coordinates .degree-mode-controls .show-mode:before {
    content:  "\ea34";
}
fieldset.coordinates .degree-mode-controls .find-map:before {
    content:  "\e052";
}

#control-panel .degree-mode-controls {
    position: absolute;
    right:  0;
    top: 0.5em;
}

#control-panel .show-dec-degrees .degree-mode-controls,
#control-panel .show-dms-degrees .degree-mode-controls {
    top: 0.25em;
}

.degree-mode-controls span {
    display: block;
    width:  1em;
    height: 1em;
    margin-bottom:  0.5em;
    cursor: pointer;
}

#control-panel input.degree {
    padding: 0;
}

#control-panel fieldset.coordinates p {
  max-height: 1.5em;
  white-space: nowrap;
}

#control-panel span.dms-select,
#control-panel input.degree,
#control-panel span.coordinates {
    transition: max-width 0.25s ease-in;
}

#control-panel .show-dms-degrees input.degree,
#control-panel .show-dms-degrees span.dms-select,
#control-panel .show-dec-degrees input.degree {
    max-width:  10em;
    opacity: 1;
    pointer-events: auto;
    overflow: visible;
    margin-right:  1em;
}

#control-panel span.coordinates {
    position: relative;
    display: inline-block;
    max-width:  8em;
    cursor: pointer;
    padding-right:  1.5em;
    max-height: 1rem;
}

#control-panel .show-dms-degrees span.coordinates {
    max-width:  0;
    width: 0;
    overflow: hidden;
    color:  transparent;
}

#control-panel .show-dms-degrees input.degree {
    border: none;
    pointer-events: none;
}

#control-panel .dms-select,
#control-panel input[type=text] {
    border: solid 1px #999999;
}
#control-panel span.dms-select {
    display: inline-block;
    padding-right: 0.5em;
}

#control-panel .dms-select span:after {
    position: absolute;
    left: 0;
    top: 0;
}

#control-panel .dms-select input {
  font-size: 0.9em;
}

#control-panel .dms-select input.deg {
    width:  2em;
}

#control-panel .dms-select input.min {
    width:  1.5em;
}
#control-panel .dms-select input.sec {
    width:  3em;
}

#control-panel .dms-select span.deg:after {
    content:  "º";
}

#control-panel .dms-select span.min:after {
    content:  "'";
}

#control-panel .dms-select span.sec:after {
    content:  "\"";
}

#control-panel .dms-select input {
    border:  none;
    text-align: right;
}

#control-panel .dms-select span {
    position: relative;
    display: inline-block;
    margin-right: 0.25em;
    width:  0.25em;
    height:  1em;
}


#control-panel .show-dec-degrees input.degree,
#control-panel .show-dms-degrees input.degree {
    min-width: 5em;
}

#control-panel span.dms-select {
    white-space: nowrap;
    max-height: 2em;
}

#control-panel .show-dec-degrees input.degree {
    min-width: 6em;
    padding:  0 0.125em;
}

#control-panel .second .input-group-addon {
    right: 3em;
}

#control-panel input.altitude {
    max-width: 3.6em;
}

#gmap {
    padding-top: 1.5em;
    margin-left: 5vw;
    width: 90vw;
    height: 60vh;
}

@media screen and (min-width:768px) {
    #gmap {
        margin-left: 10vw;
        width: 80vw;
    }

    #control-panel .input-group {
        width:  9em;
        padding-right: 1em;
    }
}




@media screen and (min-width:1280px) {
    #gmap {
        margin-left: 10vw;
        width: 60vw;
    }
}
@media screen and (min-width:1280px) {
    #gmap {
        margin-left: 10vw;
        width: 60vw;
        height: 60vh;
    }
}

#control-panel p {
    padding: 0;
}

#control-panel p label {
    display: inline-block;
    min-width: 5em;
    max-width:  9em;
    margin-right: 0.5em;
    font-size: 0.8em;
    white-space: nowrap;
}
#control-panel p.gender-row label {
  min-width: 1.5em;
  padding: 0 0.75em 0 0.25em;
}

#control-panel p label.sub {
    width: auto;
}

/*#contol-panel p label.form-gender-female,
#contol-panel p label.form-gender-unknown {
    width: 64px;
}

#contol-panel p label.form-gender-male {
    width: 47px;
}*/

#contol-panel p label.degree,
#contol-panel p label.minute,
#contol-panel p label.second {
    width: 0.5em;
    margin-left: -0.25em;
}

#control-panel p.radios label {
    width: auto;
    margin-right: 1.5em;
}

#control-panel p.radios input {
    margin-right: 0.25em;
}

#control-panel #form-geobirth {
    max-width: 50vw;
    min-width: 10em;
}

#control-panel #form-submit {
    font-size: 1em;
    margin-right: 1.5em;
}

#control-panel > p {
    transition: max-height 0.5s ease-in;
}

#control-panel p.collapsed {
    max-height: 0;
    overflow: hidden;
}

#control-panel p.expanded {
    max-height: 3em;
    overflow: visible;
}

#form-dob {
    max-width: 9em;
}

#control-panel select {
    font-size: 0.9em;
}
#control-panel input#form-alt {
    margin-right: 0.3em;
}
#geo-address {
    clear: both;
    color: #666699;
    font-size: 0.8em;
    padding: 0.25em;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.3333;
    pointer-events: none;
}

.behind {
    opacity:0;
    pointer-events: none;
    z-index: -1;
}

#navbar {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5em;
    background-color: #009999;
    color: white;
}

#navbar a {
    color: white;
}

#navbar h1 {
    font-size: 1em;
    position: absolute;
    left: 2.5%;
    top: 0.25em;
}

ul.ver-tabs,
ul.ver-tabs li,
ul.hor-tabs,
ul.hor-tabs li,
nav.horizontal ul,
nav.horizontal li {
    list-style-type: none;
    padding: none;
}

ul.hor-tabs,
nav.horizontal ul {
    margin: 0.75em 0;
    width: 100%;
    text-align: center;
}

ul.hor-tabs li {
    position: relative;
}

ul.hor-tabs .sub-tabs {
    position: absolute;
    top: 1.5em;
    left:  0;
    font-size: 0.5em;
    display:  block;
    width:  auto;
}

ul.hor-tabs .sub-tabs li {
    text-align: left;
    display:  block;
    width:  15em;
}

ul.hor-tabs li,
nav.horizontal li {
    display: inline-block;
    margin: 0 1.5em;
    font-weight: bold;
}

ul.hor-tabs li {
    padding: 0 0.75em;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (min-width:640px) {
    ul.hor-tabs li {
        font-size: 1.25em;
    }
}

@media screen and (min-width:960px) {
    ul.hor-tabs li {
        padding: 0 1em;
        font-size: 1.5em;
    }
    #control-panel #form-geobirth {
        max-width: 75%;
    }
}

@media screen and (min-width:1280px) {
    #control-panel #form-geobirth {
        max-width: 80%;
    }
}

@media screen and (min-width:1440px) {
    #control-panel #form-geobirth {
        max-width: 85%;
    }
}

ul.hor-tabs li.active {
    color: #0000cc;
}

#chart-mode {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}



#chart-mode li {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #999999;
    cursor: pointer;
}

#chart-mode li.active {
    color: #882222;
}

ul.ver-tabs li,
ul.hor-tabs li {
    transition: transform 250ms ease-in;
}

ul.ver-tabs li:hover,
ul.hor-tabs li:not(.disabled):hover {
    transform: scale(1.125);
}

#chart-main {
    position: relative;
    margin: 3vh auto;
    top:  3vh;
}

#chart-main svg {
    width: 90vw;
    max-height: 90vh;
}
