@font-face {
    font-family: 'genlight';
    src: url('fonts/Gen-Light.eot');
    src: local('☺'), url('fonts/Gen-Light.woff') format('woff'), url('fonts/Gen-Light.ttf') format('truetype'), url('fonts/Gen-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, input, textarea, select, option,
span.symbol-radio label {
    font-family: genlight, Helvetica, Arial, sans-serif;
}

.large-pane,
#main {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 75vw;
}

.large-pane {
    opacity: 0;
    pointer-events: none;
}

#main .large-pane.active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

#main {
    padding: 4em 0 0 25vw;
    z-index: 1;
}


#results-pane {
    text-align: left;
    width: 60vw;
    min-height: 50vh;
    padding: 2vw;
    left: 36vw;
    opacity: 0;
}

#results-pane.active {
    opacity: 1;
}

#control-panel object#tween-symbol-container svg {
    position: relative;
    max-width: 6vw;
    margin-top: 1em;
}

#control-panel hr {
    border:none;
    border-bottom: solid 0.25em #F87431;
}

#control-panel fieldset {
    border: none;
    padding: 1em 0;
    margin: 0;
    position: relative;
}

#control-panel fieldset fieldset p {
    margin: 0;
    padding: 0;
}



#control-panel fieldset > .toggle {
    position: absolute;
    top: 0;
    cursor: pointer;
    color: #999999;
}

#control-panel fieldset > .toggle-icon {
    left: 0;
    width: 1em;
    height: 1em;
}

#control-panel fieldset.closed > .toggle-icon:before {
    content: "+";
}

#control-panel fieldset h5.toggle,
#control-panel fieldset h4.toggle,
#control-panel fieldset h3.toggle {
    left: 1.5em;
    margin: 0;
    padding: 0;
}

#control-panel fieldset h3.toggle {
    font-size: 1em;
}

#control-panel fieldset h4.toggle {
    font-size: .9em;
}

#control-panel fieldset {
  margin: 1em 0;
}

#control-panel fieldset.open > .toggle-icon:before {
    content: "-";
}

#control-panel fieldset.open fieldset.closed,
#control-panel fieldset.closed {
    max-height: 0;
    overflow: hidden;
}
#control-panel fieldset p.text {
    font-size: 0.9em;
    margin: 0.5em 0 0 0.9em;
}
#control-panel span.symbol-radio {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    width: 1em;
    height: 1em;
    margin: 0 1em 0 0;
    cursor: pointer;
    filter: grayscale(90%);
}

#control-panel span.symbol-radio:hover,
#control-panel span.symbol-radio.checked {
    filter: grayscale(0%);
}

#control-panel span.icon-female-sign {
    color: #ff5555;
}

#control-panel span.icon-male-sign {
    color: #3333ff;
}

#control-panel span.symbol-radio input {
    display: none;
}

#control-panel span.symbol-radio label {
    opacity: 0;
    position: absolute;
    top: -0.75em;
    left: 1.25em;
    font-size: 0.5em;
    color: #999999;
}

#control-panel span.symbol-radio:hover label {
    opacity: 1;
}

#control-panel fieldset.open fieldset.open fieldset.closed > p,
#control-panel fieldset.open fieldset.closed > p,
#control-panel fieldset.closed > p {
    opacity: 0;
    pointer-events: none;
}

#control-panel fieldset.closed fieldset.closed {
    display: none;
}

#control-panel fieldset {
    transition: max-height .5s ease-in;
}

#control-panel fieldset.open {
    padding: 1.5em 0 1em 0;
    max-height: 100em;
    overflow: visible;
}

#control-panel fieldset.open p {
    opacity: 1;
    pointer-events: auto;
}

#control-panel .form-actions {
    clear: both;
    margin: 1em 0;
}


#tween-symbol-container .symbol {
    fill: none;
    stroke: #990000;
    stroke-width: 3px;
}

#results-pane object#tween-symbol-container {
    position: relative;
    clear: both;
}

#results-pane dl dd,
#results-pane dl dt {
    float: left;
    margin-bottom: 0.75em;
}

#results-pane dl dt {
    clear: both;
    width: 8em;
    margin-right: 0.75em;
    font-weight: bold;
}

#results-pane dl dd {
    padding: 0;
    margin-left: 0;
}

#results-pane dl dd pre {
    max-width: 40em;
    overflow: auto;
    color: #999999;
}


#results-pane dl dd ul {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding:0;
}

#results-pane dl dd li {
    margin: 0;
    padding: 0;
}

#main > .large-pane {
    transition: opacity 0.25s ease-in;
}

#main > .active {
    opacity: 1;
    pointer-events: auto;
    z-index: 40;
}

.large-pane {
    position: absolute;
    top: 8em;
    left: 20vw;
    right: 0;
}

object.large-pane {
  left: 20vw;
}


.large-pane svg {
    position: relative;
    width: 50vw;
    max-width: 100%;
    height: 50vw;
    margin-left: 5vw;
}

.large-pane svg .planet {
    transition: transform 1s ease-in, opacity .5s ease-in;
}

.large-pane svg .body {
    transition: transform 1s ease-in, opacity .5s ease-in;
}

.planet {
    opacity: 0;
}

.large-pane svg.planets-assigned .planet {
    opacity: 1;
}

.line-label,
.boundary {
    transform-origin: 100% 100% 0;
    transition: transform .5s ease-in;
}

line.solid {
    stroke-width: 1px;
    stroke: black;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    8.3333% {transform: rotate(30deg);}
    16.6667% {transform: rotate(60deg);}
    25% {transform: rotate(90deg);}
    33.3333% {transform: rotate(120deg);}
    41.6667% {transform: rotate(150deg);}
    50% {transform: rotate(180deg);}
    58.3333% {transform: rotate(210deg);}
    66.6667% {transform: rotate(240deg);}
    75% {transform: rotate(270deg);}
    83.3333% {transform: rotate(300deg);}
    91.6667% {transform: rotate(330deg);}
    100% {transform: rotate(360deg);}
}

#dial {
    animation: spin 60s infinite;
    transform-origin: 50% 50% 0;
}

.planet path {
    fill: #999999;
    transform: scale(0.5);
}

.mars path {
    fill: #ff0000;
}

.jupiter path {
    fill: #996000;
}

.mercury path {
    fill: #66ff00;
}

.venus path {
    fill: #004499;
}

.saturn path {
    fill: #0000ff;
}

.neptune path {
    fill: #990066;
}

.uranus path {
    fill: #229966;
}


#control-panel {
    position: absolute;
    top: 1em;
    left: 0;
    min-width: 25em;
    width: 25vw;
    z-index: 10;
    padding: 3vh 2vw;
    background-color: white;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
    height: 100vh;
}

#control-panel .ui-input-text,
#control-panel .ui-input-btn {
    display: inline-block;
    width: auto;
    max-width: 10vw;
    margin: 0;
}

#control-panel .ui-input-text input,
#control-panel .ui-input-btn input {
    margin: 0;
    line-height: 1;
    min-height: auto;
    padding: 0.375em;
}


#gmap {
    padding-top: 1.5em;
    margin-left: 10vw;
    width: 60vw;
    height: 60vh;
}

#control-panel p {
    padding: 0;
}

#control-panel p label {
    display: inline-block;
    width: 9em;
    margin-right: 0.5em;
    font-size: 0.9em;
}

#control-panel p label.sub {
    width: auto;
}

/*#contol-panel p label.form-gender-female,
#contol-panel p label.form-gender-unknown {
    width: 64px;
}

#contol-panel p label.form-gender-male {
    width: 47px;
}*/

#contol-panel p label.degree,
#contol-panel p label.minute,
#contol-panel p label.second {
    width: 0.5em;
    margin-left: -0.25em;
}

#control-panel p.radios label {
    width: auto;
    margin-right: 1.5em;
}

#control-panel p.radios input {
    margin-right: 0.25em;
}

#control-panel #form-geobirth {
    max-width: 10vw;
}

#control-panel #form-submit {
    font-size: 1em;
    margin-right: 1.5em;
}

#form-dob {
    max-width: 9em;
}

#control-panel select {
    font-size: 0.9em;
}

#geo-address {
    clear: both;
    color: #666699;
    font-size: 0.8em;
    padding: 0.25em;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.3333;
    pointer-events: none;
}

.behind {
    opacity:0;
    pointer-events: none;
    z-index: -1;
}

#navbar {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5em;
    background-color: #009999;
    color: white;
}

#navbar a {
    color: white;
}

#navbar h1 {
    font-size: 1em;
    position: absolute;
    left: 2.5%;
    top: 0.25em;
}

ul.ver-tabs,
ul.ver-tabs li,
ul.hor-tabs,
ul.hor-tabs li,
nav.horizontal ul,
nav.horizontal li {
    list-style-type: none;
    padding: none;
}

ul.hor-tabs,
nav.horizontal ul {
    margin: 0.75em 0;
    width: 100%;
    text-align: center;
}

ul.hor-tabs li,
nav.horizontal li {
    display: inline-block;
    margin: 0 1.5em;
    font-weight: bold;
}

ul.hor-tabs li {
    padding: 0 1em;
    font-size: 1.5em;
    cursor: pointer;
}

ul.hor-tabs li.active {
    color: #0000cc;
}

#chart-mode {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}



#chart-mode li {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #999999;
    cursor: pointer;
}

#chart-mode li.active {
    color: #882222;
}

ul.ver-tabs li,
ul.hor-tabs li {
    transition: transform 250ms ease-in;
}

ul.ver-tabs li:hover,
ul.hor-tabs li:not(.disabled):hover {
    transform: scale(1.125);
}

#indian-chart .zone {
    fill: white;
}

#indian-chart .zone:hover {
    fill: rgba(255,0,0,0.5);
}

#astro-disc .house-line,
#astro-disc image.house-symbol,
#astro-disc image.body,
#astro-disc #degree-overlay,
#astro-disc #degree-overlay .degree-label,
#astro-disc #degree-lines {
    transform-origin: 750px 750px;
}

#astro-disc .house-line {
    stroke: black;
    stroke-width: 1px;
}

#astro-disc {
    font-size: 16px;
}

#astro-disc text {
    fill: #777777;
    font-size: 1.5em;
}

#astro-disc text.house-label {
    font-size: 2.5em;
}

#astro-disc circle.solid {
    fill: white;
}

#astro-disc circle.disc {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
}

#degree-lines line.ten-degrees {
    stroke: black;
    stroke-width: 3px;
}

#degree-lines line.five-degrees {
    stroke: #3366ff;
    stroke-width: 1px;
}

#degree-lines line.one-degree {
    stroke: #cccccc;
    stroke-width: 1px;
}

#degree-overlay .degree-label {
    font-size: 20px;
    color: black;
}

#astro-disc #segments {
    transform: translate(150px,150px) rotate(-90deg);
    transform-origin: 600px 600px;
}

#top-circles {
    transform: translate(0px,0px);
}

/*#degree-lines {
    transform: translate(0,60px);
}*/

#degree-lines .ten-degrees {

}

#top-circles circle {
    transform-origin: 600px 600px;
}

#indian-chart {
    opacity: 0;
    pointer-events: none;
}

.show-indian #indian-chart {
    opacity: 1;
    pointer-events: auto;
}

.show-indian #indian-chart .shape {
    stroke-width: 3px;
    stroke: blue;
}

.european-element {
    opacity: 1;
}

.european-element,
#indian-chart {
    transition: all 1s ease-in;
}

.show-indian .european-element {
    opacity: 0;
    pointer-events: none;
}
