svg {
font-size: 16px;
}

text,
svg text {
    font-family: genlight, Helvetica, Arial, sans-serif;
}
.main-disc {
    transform-origin: 50% 50% 0;
}
.house-label text {
font-size: 3em;
}

.segment-symbol svg,
.segment-symbol {
   width: 30px;
  height:  30px;
}

text {
  opacity: 1;
  transition: all 250s ease-in;
  fill: #99999;
  font-family: Helvetica;
}

.invisible {
  opacity:  0;
}

line.ascendant {
stroke: red;
}

.segment {
cursor:  pointer;
}

.degree-label {
font-size:  1.5em;
}

#north-indian-chart {
opacity: 0;
pointer-events: none;
}

.show-indian #north-indian-chart {
opacity: 1;
pointer-events: auto;
}

.show-indian #north-indian-chart .shape {
stroke-width: 3px;
stroke: blue;
}

.western-chart {
opacity: 1;
  position: relative;
  z-index:  10;
}

.european-element,
#north-indian-chart {
transition: all 1s ease-in;
}

.show-indian .european-element {
opacity: 0;
pointer-events: none;
}

path.segment {
  fill: #999999;
  opacity: 0.9;
}

.main-segments path.segment-1,
.main-segments path.segment-7 {
  fill: #cc2222;
}

.main-segments path.segment-2,
.main-segments path.segment-8 {
  fill: #33bb33;
}

.main-segments path.segment-3,
.main-segments path.segment-9 {
  fill: #2244bb;
}

.main-segments path.segment-4,
.main-segments path.segment-10 {
  fill: #cc7700;
}

.main-segments path.segment-5,
.main-segments path.segment-11 {
  fill: #339933;
}

.main-segments path.segment-6,
.main-segments path.segment-12 {
  fill: #444488;
}

.main-segments path.segment-7,
.main-segments path.segment-8,
.main-segments path.segment-9,
.main-segments path.segment-10,
.main-segments path.segment-11,
.main-segments path.segment-12 {
  -webkit-filter: hue-rotate(120deg);
  filter: hue-rotate(120deg);
}

g.bodies-layer {
  position: relative;
  z-index: 60;
}

g.body .symbol {
  transform: scale(0.75);
}

g.body {
  pointer-events: all;
  cursor: pointer;
}

g.body text {
  fill: #999999;
}


g.bodies-layer text.coords {
  font-size: 0.8em;
}

g.bodies-layer:hover g.body text {
  fill: #333333;
  opacity: 1;
}

g.body:hover path {
  fill:  #330099;
}

g.body circle.body-bg {
  fill:white;
  cx:  20px;
  cy:  30px;
  r: 40px;
  fill: white;
  stroke:  none;
  opacity: 0;
}

g.bodies-layer text.coords {
  opacity: 1;
  fill: #666666;
}

g.bodies-layer line.band-1 {
  stroke: red;
}

g.bodies-layer line.band-2 {
  stroke: orange;
}

g.bodies-layer line.band-3 {
  stroke: green;
}

g.body circle {
  stroke:#996600;
}
g.body path {
  fill: #556677;
}