<h2>About us</h2>
<p>AstroIQ is a result of the co-operation between Andri Lindbergs and Neil Gardner, starting in November 2016.</p>
<p>The aim of this venture is to provide a complete app for astrologers, with all the most important astrological traditions and methods.</p>
<p>This venture is also intended to bring astrologers together and provide means for them to share their knowledge and experience with others.</p>
<p>Finally this venture is intended to provide a bridge between astrologers and their clients.</p>
<p> ... more details later ...</P