<form id="control-form" action="/sweph" method="post">
  <fieldset class="collapsible open">
  <h3 class="toggle">New Chart</h3>
  <p class="radios" id="form-type">
    <label for="form-type">Type of Chart:</label>
      <select id="form-chart-type" name="chart-type">
        <option value="type-birth">Birth</option>
        <option value="type-event">Event</option>
        <option value="type-question">Question</option>
        <option value="type-electional">Electional</option>
      </select>
      <!-- <input type="radio" value="birth" name="type" id="form-type-birth" class="type" checked="true" />
      <label for="form-type-birth">Birth</label>
      <input type="radio" value="event" name="type" id="form-type-event" class="type"/>
      <label for="form-type-event">Event</label>
      <input type="radio" value="question" name="type" id="form-type-question" class="type"/>
      <label for="form-type-question">Question</label>
      <input type="radio" value="electional" name="type" id="form-type-electional" class="type"/>
      <label for="form-type-electional">Electional</label> -->
  </p>
  <p>
      <label for="form-name">Name:</label><!--Change according to type: Name, event, question, election -->
      <input type="text" id="form-name" name="name" size="10" value="Andri" />
  </p>
  <p class="genders">
      <label for="form-gender">Gender:</label>
      <input type="radio" id="form-gender-female" name="gender" class="gender female"  />
      <label for="form-gender-female" class="sub">Female</label>
      <input type="radio" id="form-gender-male" name="gender" class="gender male"  />
      <label for="form-gender-male" class="sub">Male</label>
      <!-- <input type="radio" id="form-gender-unknown" name="gender" class="gender unknown"  />
      <label for="form-gender-unknown" class="sub">Unknown</label> -->
  </p>
  <p class="dob">
      <label for="form-dob">Date of birth:</label><!-- change 'birth' according to type -->
      <input type="date" id="form-dob" name="dob" size="10" value="1961-06-28" />
  </p>
  <p class="tob">
      <label for="form-tob">Time of birth:</label><!-- change 'birth' according to type -->
      <input type="time" id="form-tob" name="tob" size="5" value="11:25"/>
  </p>
  <p class="pob">
      <label for="form-geobirth">Place of birth:</label><!-- change 'birth' according to type -->
      <input type="text" id="form-geobirth" name="geobirth" size="48" value="" />
      <input type="submit" id="geobirth-finder" value="Find" />
      <div class="hidden" id="geo-address"></div>
  </p>
    <p class="tz">
      <label for="form-timezone">Time Zone:</label>
      <input type="time" id="form-timezone" name="timezone" size="5" value="00:00"/>
      <!-- <label for="form-tz-east">East</label><input type="radio" value="event" name="tz-east" id="form-tz-east" class="type"/>
      <label for="form-tz-west">West</label><input type="radio" value="event" name="tz-west" id="form-tz-west" class="type"/>
      <label for="form-timezone"> of Greenwich</label> -->
    </p>
    <p class="ds">
      <label for="form-daylightsavings">Daylight Savings:</label>
      <input type="time" id="form-daylightsavings" name="daylightsavings" size="5" value="00:00"/>
    </p>
      <!--label title="Geolocation as latitude/longitude/altitude">Location (lat/long/alt):</label-->
     <p class="lat">
      <label for="form-lat" title="latitude">Latitude: </label>
      <input type="text" pattern="[0-9.-]+" id="form-lat" name="lat" size="4" value="65.15" title="latitude" />
      <label for="form-lat" class="degree" title="latitude">° </label>
      <!-- <input type="text" pattern="[0-9.-]+" id="form-lat-min" name="lat-min" size="1" value="" title="latitude-minute" />
      <label for="form-lat" class="minute" title="latitude">' </label>
      <input type="text" pattern="[0-9.-]+" id="form-lat-sec" name="lat-sec" size="1" value="" title="latitude-second" />
      <label for="form-lat" class="second" title="latitude">" </label> -->
    </p>
    <p class="lng">
      <label for="form-lng" title="longitude">Longitude: </label>
      <input type="text" pattern="[0-9.-]+" id="form-lng" name="lng" size="4" value="-13.6667" title="longitude" />
      <label for="form-lng" class="degree" title="longitude">° </label>
      <!-- <input type="text" pattern="[0-9.-]+" id="form-lng-min" name="lat-min" size="1" value="" title="longitude-minute" />
      <label for="form-lng" class="minute" title="longitude">' </label>
      <input type="text" pattern="[0-9.-]+" id="form-lng-sec" name="lat-sec" size="1" value="" title="longitude-second" />
      <label for="form-lng" class="second" title="longitude">" </label> -->
    </p>
    <p class="alt">
      <label for="form-alt" title="altitude">Altitude: </label>
      <input type="number" id="form-alt" name="alt" size="1" value="30" steps="10" min="0" max="9000" title="Height above sea level in metres" />
      <label for="form-alt" title="altitude"> meters</label>
    </p>
    <p class="rodden">
      <label for="form-rodden" title="Rodden Birth Time Accuracy Scale">Rodden Scale: </label>
      <select id="form-rodden" name="rodden">
        <option value="AA1">AA - Birth Certificate/Record in hand</option>
        <option value="AA2">AA - Quoted Birth Certificate/Record</option>
        <option value="A1">A - From memory</option>
        <option value="A2">A - News report</option>
        <option value="B">B - Bio/autobiography</option>
        <option value="C1">C - Accuracy in question</option>
        <option value="C2">C - Original source not known</option>
        <option value="C3">C - Rectified from approximate time</option>
        <option value="DD">DD - Confliction/unverified</option>
        <option value="X1">X - Date without time of birth</option>
        <option value="X2">X - Rectified without time of birth</option>
        <option value="XX1">XX - Date in question</option>
        <option value="XX2">XX - Undetermioned</option>
      </select>
    </p>
  <div id="form-actions"><input type="submit" value="Calculate & Save" id="form-submit" /></div>
  </fieldset>
  <fieldset class="collapsible closed">
   <h3 class="toggle">Open Chart</h3>
    <p>Open chart dialog</p>
  </fieldset>
  <fieldset class="collapsible closed">
  <h3 class="toggle">Calculation Settings</h3>
    <fieldset class="collapsible closed">
    <h4 class="toggle">Default House System</h4>
	  <p>
		<label for="form-hsy">House system:</label>
		  <select id="form-hsy" name="hsy">
			<option value="W">Equal (Rāśi-Bhāva)</option>
			<option value="E">Equal (from ASC)</option>
			<option value="D">Equal (from MC)</option>
			<option value="CB">Caleta Bhāva</option><!-- not in Swiss Ephemeris -->
			<option value="S">Śrīpati Bhāva</option>
			<option value="O">Porphyry</option>
			<option value="P">Placidus</option>
			<option value="K">Koch</option>
			<option value="B">Alcabitius</option>
			<option value="C">Campanus</option>
			<option value="M">Morinus</option>
			<option value="R">Regiomontanus</option>
			<option value="T">Topocentric</option>
			<option value="A">Equal</option>
			<option value="X">Meridian houses</option>
			<option value="G">36 Gauquelin sectors</option>
			<option value="H">Horizon / azimuth</option>
		  </select>
	  </p>
  </fieldset>
  <fieldset class="collapsible closed">
  <h4 class="toggle">Tropical vs. Sidereal (Ayanamśa)</h4>
  <p>
      <label for="form-ayanamsa">Ayanamśa</label>
      <select id="form-ayanamsa" name="ayanamsa">
          <option value="-">Tropical / Sāyana</option>
          <option value="1">Lahiri</option>
          <option value="3">Raman</option>
          <option value="4">Ushashashi</option>
          <option value="5">Krishnamurti</option>
          <option value="7">Yukteshwar</option>
          <option value="8">J.N. Bhasin</option>
          <option value="21">Sūrya Siddhānta</option>
          <option value="22">Sūrya Siddhānta, mean Sun</option>
          <option value="25">Sūrya Siddhānta Citra</option>
          <option value="26">Sūrya Siddhānta Revati</option>
          <option value="23">Aryabhata</option>
          <option value="27">True Citra</option>
          <option value="28">True Revati</option>
          <option value="29">True Pushya</option>
          <option value="35">True Mūla (Chandra Hari)</option>
          <option value="36">Dhruva/Mūla (E. Wilhelm)</option>
          <option value="6">Djwhal Khul</option>
          <option value="0">Fagan/Bradley</option>
          <option value="2">De Luce</option>
          <option value="30">Galactic (Gil Brand)</option>
          <option value="34">Skydram (Mardyks)</option>
          <option value="15">Hipparchos</option>
          <option value="16">Sassanian</option>
      </select>
  </p>
  </fieldset>
  <fieldset class="collapsible closed">
  <h4 class="toggle">Celestial Calculations</h4>
	  <p class="radios" id="form-mode">
		  <label for="form-mode">Topo/Geo:</label>
		  <input type="radio" value="topo" name="mode" id="form-mode-topo" class="mode" checked="true" />
		  <label for="form-mode-topo">Topocentric</label>
		  <input type="radio" value="geo" name="mode" id="form-mode-geo" class="mode"/>
		  <label for="form-mode-geo">Geocentric</label>
	  </p>
  </fieldset>
  <fieldset class="collapsible closed">
  <h4 class="toggle">Solar Year & Lunar Month Definitions</h4>
    <fieldset class="collapsible open">
	  <h5 class="toggle">Astronomical Solar Year</h5>
  	  <p>
          <input type="radio" value="365.242199" name="solar-t" id="form-solar-t" class="solar" checked="true" />
          <label for="form-solar-t">Tropical Year</label>
          <input type="radio" value="365.256366" name="solar-t" id="form-solar-s" class="solar" />
          <label for="form-solar-s">Sidereal Year</label>
          <input type="radio" value="365.259636" name="solar-t" id="form-solar-a" class="solar" />
          <label for="form-solar-a">Anomalistic Year</label>
          <p>A <em>Tropical</em> year (365.242199) is a measure of the Sun's passage from one mean vernal equinox to the next.</p>
          <p>A <em>Sidereal</em> year (365.256366) is a measure of Earth's complete orbit around the Sun relative to fixed stars.</p>
          <p>An <em>Anomalistic</em> year (365.259636) is a measure of earth's passage from one perihelion to another.</p>
  	  </p>
      </fieldset>
      <fieldset class="collapsible closed">
	       <h5 class="toggle">Time Period (Daśa) Year Definition</h5>
        <input type="radio" value="" name="year-astron" id="form-year-astron" class="solar-dasha" checked="true" />
        <label for="form-year-astron">Astronomical Solar Year (select above)</label>
        <input type="radio" value="" name="year-calendar" id="form-year-calendar" class="solar-dasha" />
        <label for="form-year-calendar">Year = 365 (Calendar Year)</label>
        <input type="radio" value="" name="year-360" id="form-year-360" class="solar-dasha" />
        <label for="form-year-360">Year = 360 (Origin unknown)</label>
        <input type="radio" value="" name="year-solilunar" id="form-year-solilunar" class="solar-dasha" />
        <label for="form-year-solilunar">Synodic SoliLunar year = 354.36708</label>
      </fieldset>
      <fieldset class="collapsible closed">
	    <h5 class="toggle">Astronomical Lunar Month</h5>
        <input type="radio" value="27.321582" name="lunar-t" id="form-lunar-t" class="lunar" />
        <label for="form-solar-t">Tropical month: 27.321582</label>
        <input type="radio" value="27.321662" name="lunar-s" id="form-lunar-s" class="lunar" />
        <label for="form-solar-s">Sidereal month: 27.321662</label>
        <input type="radio" value="27.321582" name="lunar-a" id="form-lunar-a" class="lunar" />
        <label for="form-solar-a">Anomalistic month: 27.321582</label>
        <input type="radio" value="29.5305888531" name="lunar-syn" id="form-lunar-syn" class="lunar" checked="true"/>
        <label for="form-solar-syn">Synodic month: 29.5305888531</label>
        <p>A <em>Tropical</em> month (27.321582) is a measure of the Moon's passage from one mean vernal equinox to the next.</p>
        <p>A <em>Sidereal</em> month (27.321662) is a measure of Moon's complete orbit around the Earth relative to fixed stars.</p>
        <p>An <em>Anomalistic</em> month (27.321582) is a measure of Moon's passage from one perihelion to another.</p>
        <p>A <em>Synodic</em> month (29.530588) is a measure of Moon's passage from one New Moon to another.</p>
      </fieldset>
    </p>
  </fieldset>
</form>
