aside#control-panel
  h2.toggle-aside New Chart
  ul#sub-tabs.hor-tabs
    li.form(:class="{active:subPane=='form'}" v-on:click="showSub('form')") Form
    li.settings(:class="{active:subPane=='settings'}" v-on:click="showSub('settings')") Settings
    li.queries(:class="{active:subPane=='queries'}" v-on:click="showSub('queries')") Queries
  div.inner
    include control-form.pug
    include settings-form.pug
    div#queries.pane(:class="{active:subPane=='queries'}")
      ol.queries
        template(v-for="item in queries")
          li
            span.load(v-on:click.stop="loadQuery(item.paramStr)") {{item.name}}, {{item.dateStr}}
            span.delete(v-on:click.stop="deleteQuery(item.paramStr)")
            span.refresh(v-on:click.stop="refreshLocalItem(item.paramStr)") 