aside#control-panel
      h2.toggle-aside New Chart
      div.inner
        ul#sub-tabs.hor-tabs
          li.form(:class="{active:subPane=='form'}" v-on:click="showSub('form')") Form
          li.queries(:class="{active:subPane=='queries'}" v-on:click="showSub('queries')") Queries
        include control-form.pug
        div#queries.pane(:class="{active:subPane=='queries'}")
          ol.queries
            template(v-for="item in queries")
              li
                span.load(v-on:click.stop="loadQuery(item.paramStr)") {{item.name}}, {{item.dateStr}}
                span.delete(v-on:click.stop="deleteQuery(item.paramStr)")