ul.dashas
  template(v-for="dasha in dashaData.dashas")
    li(v-bind:class="dasha.key")
      strong.label {{dasha.name}}
      span.start {{dasha.start}}
      span.end {{dasha.end}}
      ul.ads
        template(v-for="ad in dasha.ads")
          li(v-bind:class="ad.key")
            strong.label {{ad.name}}
            span.start {{ad.start}}
            span.end {{ad.end}}
            ul.pds
              template(v-for="pd in ad.pds")
                li(v-bind:class="pd.key")
                  strong.label {{pd.name}}
                  span.start {{pd.start}}
                  span.end {{pd.end}}