header#navbar(v-on:mouseleave="toggleMenu('hide')")
  h2#menu-toggle(v-on:click="toggleMenu()" v-bind:title="toggleMenuMessage")
  h1.title-logo
    a(href="/")= title
  nav.top
    ul
      li(v-if="!user.loggedin")
        a(href="/login" v-on:click.stop.prevent="showLogin()") Sign in
      li(v-if="!user.loggedin")
        a(href="/login" v-on:click.stop.prevent="showLogin('register')") Register
      li(v-if="user.loggedin")
        a(href="/logout" v-on:click.stop.prevent="logout()") Log out
      li
        a(href="/") Home
      li
        a(href="/about") About
      li(v-if="user.isAdmin")
        a(href="/command") Command Test
  div#user-status(:class="{active:user.loggedin}") {{user.statusMsg}}
  div#user-form(:class="{hidden:!user.showForm}")
    form(method="post" class="user-form" v-on:submit.stop.prevent="processUser()")
      p.row
        button.register(v-if="user.registerMode === 'login'" v-on:click.stop.prevent="showLogin('register')" id="user-show-register") Register
        input.user-name(type="text" placeholder="Email" name="username" id="user-usernme" minlength="4" required="true" v-model="user.username")
        input.password(type="password" placeholder="Password" name="password" id="user-password" minlength="6" required="true" v-model="user.password")
        input.password(v-if="user.registerMode === 'email'" type="password" placeholder="Confirm password" name="confirm_password" id="user-confirm-password" minlength="6" required="true" v-model="user.cpassword")
        input.screenname(v-if="user.registerMode === 'email'" type="text" placeholder="screen name" name="screenname" id="user-screenname" minlength="4" required="true" v-model="user.screenname")
        input.submit(type="submit" v-bind:value="user.submitLabel" name="submit_login" id="user-submit")
      p.error-msg(v-if="user.errorMsg.length > 1") {{user.errorMsg}}
        