header#navbar(v-on:mouseleave="toggleMenu('hide')")
  h2#menu-toggle(v-on:click="toggleMenu()" v-bind:title="toggleMenuMessage")
  h1.title-logo
    a(href="/")= title
  nav.top
    ul
      li
        a(href="/") Astro Chart
      li
        a(href="/about") About
      li
        a(href="/command") Command Test