dl.results-list(:class="{hidden: !results.valid}")
  dt.datetime Date and time
    dd.datetime(:title="results.datetime") {{results.dateinfo.display}}
  dt.location Location
    dd.location 
      p.coordinates {{results.geo.display_coords}}
      p.address {{results.geo.address}}
  dt.name-gender Name / gender
  dd.name-gender
    span.name {{results.person.name}}
    span.gender {{results.person.gender}}
  dt.chart-type Chart type
  dd.chart-type {{results.chartType}}
  dt.astro-data Astrological Data
  dd.astro-data
    ul
      li.ayanamsa 
        span.label Ayanamsa
        strong.value {{results.ayanamsa}}
        sup.type {{options.ayanamsaName}}
      li.ascendant
        span.label Ascendant
        strong.value {{results.ascendant}}
      li.mc
        span.label(title="Medium Coeli") Midheaven
        strong.value {{results.mc}}
      li.et
        span.label Ephemeris time
        strong.value
          span.ut(v-bind:title="results.ut_info") {{results.et}}
          sup.delta.small(title="Delta") {{results.delta_t}} 
  dt.rahu Rahu
  dd.rahu
    p.true-node
      span.lng {{results.true_node.lng}}
      em.label.lng (true node)
    p.mean-node
      span.lng {{results.mean_node.lng}}
      em.label.ng Rahu (mean node)

table.bodies-table
  thead
    tr
      th Planet
      th Longitude
      th Latitude
      th Speed
      th House position
  tbody
    template(v-for="body in results.bodies")
      tr(v-bind:class="body.key")
        th.label {{body.key}}
        td.degrees.lng {{body.lng}}
        td.degrees.lat {{body.lat}}
        td.degrees.spd {{body.spd}}
        td.house-position {{body.pos}}

dl.results-list
  dt.houses Houses
  dd.houses
    ul.house-list
      template(v-for="house in results.houses")
        li(v-if="house.num > 0")
          span.label {{house.num}}
          span.coords {{house.lng}} to {{house.end}}


div.aspects-list.section(v-if="results.hasAspects")
  h3 Aspects
  template(v-for="set in results.aspects")
    table.aspect-group(v-if="set.items.length>0")
      caption {{set.key}}
      tbody.aspect-list.plain
        template(v-for="item in set.items")
          tr
            th.body.from {{item.from}}
            td.dms.from {{item.startDms}}
            td.separator
            th.body.to {{item.to}}
            td.dms.to {{item.endDms}}