dl.results-list(:class="{hidden: !results.valid}")
  dt.astro-data Astrological Data
  dd.astro-data
    ul
      li.et ET {{results.astro.et}}
      li.ascendant Ascendant {{results.astro.ascendant}}