dl.results-list(:class="{hidden: !results.valid}")
  dt.datetime Date and time
    dd.datetime(:title="results.datetime") {{results.dateinfo.display}}
  dt.location Location
    dd.location 
      p.coordinates {{results.geo.display_coords}}
      p.address {{results.geo.address}}
  dt.name-gender Name / gender
  dd.name-gender
    span.name {{results.name}}
    span.gender {{results.gender}}
  dt.chart-type Chart type
  dd.chart-type {{results.chartType}}
  dt.astro-data Astrological Data
  dd.astro-data
    ul
      li.ayanamsa 
        span.label Ayanamsa
        strong.value {{results.ayanamsa}}
      li.ascendant
        span.label Ascendant
        strong.value {{results.astro.ascendant}}
      li.et
        span.label ET
        strong.value {{results.astro.et}}
      li.ut
        span.label UT
        span.value {{results.astro.ut.value}}
        span.value {{results.astro.ut.delta}}
  dt.rahu Rahu
  dd.rahu
    p.true-node
      span.lng {{results.astro.true_node.lng}}
      em.label.lng (true node)
    p.mean-node
      span.lng {{results.astro.mean_node.lng}}
      em.label.ng Rahu (mean node)

table.bodies-table
  thead
    tr
      th Planet
      th Longitude
      th Latitude
      th Ecliptic
      th House position
  tbody
    tr.sun
      th.label Sun
      td.degrees.lng {{results.bodies.sun.lng}}
      td.degrees.lat {{results.bodies.sun.lat}}
      td.degrees.ecl {{results.bodies.sun.ecl}}
      td.house-position {{results.bodies.sun.house}}
    tr.moon
      th.label Moon
      td.degrees.lng {{results.bodies.moon.lng}}
      td.degrees.lat {{results.bodies.moon.lat}}
      td.degrees.ecl {{results.bodies.moon.ecl}}
      td.house-position {{results.bodies.moon.house}}
    tr.mercury
      th.label Mercury
      td.degrees.lng {{results.bodies.mercury.lng}}
      td.degrees.lat {{results.bodies.mercury.lat}}
      td.degrees.ecl {{results.bodies.mercury.ecl}}
      td.house-position {{results.bodies.mercury.house}}
    tr.venus
      th.label Venus
      td.degrees.lng {{results.bodies.venus.lng}}
      td.degrees.lat {{results.bodies.venus.lat}}
      td.degrees.ecl {{results.bodies.venus.ecl}}
      td.house-position {{results.bodies.venus.house}}
    tr.mars
      th.label Mars
      td.degrees.lng {{results.bodies.mars.lng}}
      td.degrees.lat {{results.bodies.mars.lat}}
      td.degrees.ecl {{results.bodies.mars.ecl}}
      td.house-position {{results.bodies.mars.house}}
    tr.jupiter
      th.label Jupiter
      td.degrees.lng {{results.bodies.jupiter.lng}}
      td.degrees.lat {{results.bodies.jupiter.lat}}
      td.degrees.ecl {{results.bodies.jupiter.ecl}}
      td.house-position {{results.bodies.jupiter.house}}
    tr.saturn
      th.label Saturn
      td.degrees.lng {{results.bodies.saturn.lng}}
      td.degrees.lat {{results.bodies.saturn.lat}}
      td.degrees.ecl {{results.bodies.saturn.ecl}}
      td.house-position {{results.bodies.saturn.house}}
    tr.uranus
      th.label Uranus
      td.degrees.lng {{results.bodies.uranus.lng}}
      td.degrees.lat {{results.bodies.uranus.lat}}
      td.degrees.ecl {{results.bodies.uranus.ecl}}
      td.house-position {{results.bodies.uranus.house}}
    tr.neptune
      th.label Neptune
      td.degrees.lng {{results.bodies.neptune.lng}}
      td.degrees.lat {{results.bodies.neptune.lat}}
      td.degrees.ecl {{results.bodies.neptune.ecl}}
      td.house-position {{results.bodies.neptune.house}}
    tr.pluto
      th.label Pluto
      td.degrees.lng {{results.bodies.pluto.lng}}
      td.degrees.lat {{results.bodies.pluto.lat}}
      td.degrees.ecl {{results.bodies.pluto.ecl}}
      td.house-position {{results.bodies.pluto.house}}
    tr.rahu
      th.label Rahu
      td.degrees.lng {{results.bodies.rahu.lng}}
      td.degrees.lat {{results.bodies.rahu.lat}}
      td.degrees.ecl {{results.bodies.rahu.ecl}}
    tr.ketu
      th.label Ketu
      td.degrees.lng {{results.bodies.ketu.lng}}
      td.degrees.lat {{results.bodies.ketu.lat}}
      td.degrees.ecl {{results.bodies.ketu.ecl}}

dl.results-list
  dt.houses Houses
  dd.houses
    ul.bodies-list
      template(v-for="house in results.houseBounds")
        li
          span.label {{house.num}}
          span.coords {{house.lng}} to {{house.end}}
  dt.cmd Data for Geeks
  dd.cmd {{results.cmd}}