dl.results-list(:class="{hidden: !results.valid}")
  dt.datetime Date and time
    dd.datetime(:title="results.datetime") {{results.display_datetime}}
  dt.location Location
    dd.location 
      p.coordinates {{results.geo.display_coords}}
      p.address {{results.geo.address}}
  dt.astro-data Astrological Data
  dd.astro-data
    ul
      li.ayanamsa 
        span.label Ayanamsa
        strong.value {{results.ayanamsa}}
      li.et
        span.label ET
        strong.value {{results.astro.et}}
      li.ascendant
        span.label Ascendant
        strong.value {{results.astro.ascendant}}
  dt.bodies
  dd.bodies
    ul.bodies-list
      li.sun
        span.label Sun
        span.degrees.lng {{results.bodies.sun.lng}}
        span.degrees.lat {{results.bodies.sun.lat}}
        span.degrees.ecl {{results.bodies.sun.ecl}}
      li.moon
        span.label Moon
        span.degrees.lng {{results.bodies.moon.lng}}
        span.degrees.lat {{results.bodies.moon.lat}}
        span.degrees.ecl {{results.bodies.moon.ecl}}
      li.mercury
        span.label Mercury
        span.degrees.lng {{results.bodies.mercury.lng}}
        span.degrees.lat {{results.bodies.mercury.lat}}
        span.degrees.ecl {{results.bodies.mercury.ecl}}
      li.venus
        span.label Venus
        span.degrees.lng {{results.bodies.venus.lng}}
        span.degrees.lat {{results.bodies.venus.lat}}
        span.degrees.ecl {{results.bodies.venus.ecl}}
      li.mars
        span.label Mars
        span.degrees.lng {{results.bodies.mars.lng}}
        span.degrees.lat {{results.bodies.mars.lat}}
        span.degrees.ecl {{results.bodies.mars.ecl}}
      li.jupiter
        span.label Jupiter
        span.degrees.lng {{results.bodies.jupiter.lng}}
        span.degrees.lat {{results.bodies.jupiter.lat}}
        span.degrees.ecl {{results.bodies.jupiter.ecl}}
      li.saturn
        span.label Saturn
        span.degrees.lng {{results.bodies.saturn.lng}}
        span.degrees.lat {{results.bodies.saturn.lat}}
        span.degrees.ecl {{results.bodies.saturn.ecl}}
      li.uranus
        span.label Uranus
        span.degrees.lng {{results.bodies.uranus.lng}}
        span.degrees.lat {{results.bodies.uranus.lat}}
        span.degrees.ecl {{results.bodies.uranus.ecl}}
      li.neptune
        span.label Neptune
        span.degrees.lng {{results.bodies.neptune.lng}}
        span.degrees.lat {{results.bodies.neptune.lat}}
        span.degrees.ecl {{results.bodies.neptune.ecl}}
      li.pluto
        span.label Pluto
        span.degrees.lng {{results.bodies.pluto.lng}}
        span.degrees.lat {{results.bodies.pluto.lat}}
        span.degrees.ecl {{results.bodies.pluto.ecl}}