
form#settings-form.pane(:class="{active:subPane=='settings'}" action="/settings" method="post" v-on:submit.prevent="saveSettings")
  h2.form-label Calculation Settings
  //- include settings/calc-house-system.pug
  fieldset.main.open
    h3.toggle Toggle
    p.sub-section
      label.left(for="form-hsy") House system:
      select#form-hsy.select-input(name="hsy" v-model="options.hsy" v-on:change="updateChartOptions()")
        each opt,index in houseSystems
          option(value = opt.value)= opt.label
    p.sub-section
      label.left(for="form-ayanamsa") Tropical vs. Sidereal (Ayanāṃśa)
      select#form-ayanamsa.select-input(name="ayanamsa" v-model="options.ayanamsa" v-on:change="updateChartOptions()")
        each opt,index in ayanamsas
          option(value = opt.value)= opt.label
    p#form-mode.sub-section.radios
      label.left(for="form-mode-topo") Celestial Calculations
      span.radio-options
        span.option
          input#form-mode-topo.mode(type="radio" value="topo" name="mode" v-model="options.mode" v-on:change="updateChartOptions()")
          label(for="form-mode-topo") Topocentric
        span.option
          input#form-mode-geo.mode(type="radio" value="geo" name="mode" class="mode" v-model="options.mode" v-on:change="updateChartOptions()")
          label(for="form-mode-geo") Geocentric
    p#form-layout.sub-section.radios
      label.left(for="form-options-layout") Chart Layout
      span.radio-options
        span.option
          input#form-options-layout-western.checkbox(type="radio" name="options_layout" v-model="options.layout" value="western")
          label(for="form-options-layout-western") Western
        span.option
          input#form-options-layout-northindian.checkbox(type="radio" name="options_layout" v-model="options.layout" value="northindian")
          label(for="form-options-layout-northindian") North Indian
        span.option
          input#form-options-layout-southindian.checkbox(type="radio" name="options_layout" v-model="options.layout" value="southindian")
          label(for="form-options-layout-southindian") South Indian 



  
  fieldset.calendar.collapsible.closed
    h3.toggle.subtitle Solar Year & Lunar Month
    div.sub-section.radios
      label Astronomical Solar Year
      div.radio-options
        p.option
          input#form-solar-t.solar(type="radio" value="365.242199" name="solar-t" checked="true" )
          label(for="form-solar-t") Tropical Year
        p.option
          input#form-solar-s.solar(type="radio" value="365.256366" name="solar-t")
          label(for="form-solar-s") Sidereal Year
        p.option
          input#form-solar-a.solar(type="radio" value="365.259636" name="solar-t")
          label(for="form-solar-a") Anomalistic year
      div.notes!= solarYearOptionNotes

    //- include settings/calc-year-dasha.pug
    div.sub-section.radios
      label Time Period (Daśa) Year Definition
      div.radio-options
        p.option
          input(type="radio" value="" name="year-astron" id="form-year-astron" class="solar-dasha" checked="true" )
          label(for="form-year-astron") Astronomical Year (select above)
        p.option
          input(type="radio" value="365" name="year-calendar" id="form-year-calendar" class="solar-dasha" )
          label(for="form-year-calendar") 365 Calendar Year
        p.option
          input(type="radio" value="360" name="year-360" id="form-year-360" class="solar-dasha" )
          label(for="form-year-360") 360 Day Year
        p.option
          input#form-year-solilunar.solar-dasha(type="radio" value="354.36708" name="year-solilunar")
          label(for="form-year-solilunar") Synodic SoliLunar Year
    //- include settings/calc-month-lunar.pug
    div.sub-section.radios
      label Astronomical Lunar Month
      div.radio-options
        p.option
          input#form-lunar-t.lunar(type="radio" value="27.321582" name="lunar-t")
          label(for="form-solar-t") Tropical month
        p.option
          input#form-lunar-s.lunar(type="radio" value="27.321662" name="lunar-s")
          label(for="form-solar-s") Sidereal month
        p.option
          input.lunar(type="radio" value="27.321582" name="lunar-a" id="form-lunar-a" class="" )
          label(for="form-solar-a") Anomalistic month
        p.option
          input#form-lunar-syn.lunar(type="radio" value="29.5305888531" name="lunar-syn" checked="true")
          label(for="form-solar-syn") Synodic month
      div.notes!= lunarMonthsNoteOptions
        //-sub-sub-section

  //- sub-section
  div.form-actions
    input(type="submit" value="Save settings" id="settings-submit")