doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(type="text/css" href="//unpkg.com/purecss@0.6.1/build/pure-min.css" rel="stylesheet")
  link(type="text/css" href="/css/style.css" rel="stylesheet")
  link(type="text/css" href="/css/svg-charts.css" rel="stylesheet")
  link(type="text/css" href="/icomoon/style.css" rel="stylesheet")
  link(type="text/css" href="/glyphs/style.css" rel="stylesheet")
  script(type="text/javascript" src="/js/lib/lodash.min.js")
  script(type="text/javascript" src="/js/lib/moment.min.js")
  script(type="text/javascript" src="/js/lib/vue.js")
  script(type="text/javascript" src="/js/lib/vue2-autocomplete.js")
  script(type="text/javascript" src="/js/lib/axios.min.js")
  script(type="text/javascript" src="/js/lib/viewportSize-min.js")
  //- script(type="text/javascript" src="/js/lib/jquery.min.js")
  //- script(type="text/javascript" src="/js/lib/jquery.mousewheel.min.js")
  script(type="text/javascript" source="internal" src="/js/lib/d3.v4.js")
  script(type="text/javascript" source="internal" src="/js/lib/d3-drag.min.js")
  script(type="text/javascript" source="internal" src="/js/lib/d3-selection-multi.v0.4.min.js")
  script(data-source="internal" type="text/javascript" src="/js/utils.min.js")
  link(type="text/css" href="/js/datebox/css/custom-datebox.css" rel="stylesheet")
  title= title
body
  div#astroiq(:class="{'show-menu':showTopMenu,'show-login':user.showForm}")
    include includes/header.pug
    include includes/control-panel.pug
    div#main
      ul#pane-tabs.hor-tabs
        li.chart(:class="{active:activeTab=='chart'}" v-on:click="showPane('chart')") Chart
          ul#chart-tabs
            li.western(v-on:click="showChart('western')") Western
            li.northindian(v-on:click="showChart('northindian')") North Indian
            li.southindian(v-on:click="showChart('southindian')") South Indian
        li.map(:class="{active:activeTab=='map'}" v-on:click="showPane('map')") Map
        li.results(:class="{disabled:!results.valid,active:activeTab=='results'}" v-on:click="showPane('results')") Results
        li.results(:class="{disabled:!results.valid,active:activeTab=='dashas'}" v-on:click="showPane('dashas')") Dashas
      div#main-panes.panes(:class="paneClass")
        div#map-pane.large-pane(:class="{active:activeTab=='map'}")
          div#gmap
          div#geo-info.inner
            div#geo-alt-places.sub-pane(:class="{hidden:!geonames.active}")
              h3.toggle Alternative places #[em ({{geonames.num}})]
              ol.listing.alt-places
                template(v-for="item in geonames.items")
                  li(v-on:click="updateMap(item.coords,item.name)") {{item.name}}
            div#geo-hospitals.sub-pane(:class="{hidden:!hospitals.active}")
              h3.toggle Maternity centres #[em ({{hospitals.num}})]
              ol.listing.hospitals
                template(v-for="item in hospitals.items")
                  li(:data-coords="item.coords" v-on:click="updateMap(item.coords,item.name)") {{item.name}}
        object#chart-pane.large-pane.show-main-aspects(:class="{active:activeTab=='chart'}")
          div.container(:class="chartSizeClass")
            div#magnifier-controls
              span.magnify.one(v-on:click="magnifyChart(1)") 1x
              span.magnify.two(v-on:click="magnifyChart(2)") 2x
              span.magnify.four(v-on:click="magnifyChart(4)") 4x
            include ../svgs/charts/combined.svg
          div#infobox(:class="{'has-data': chartActive}")
            p.name
              span.label Name: 
              strong.person-name {{results.person.name}}
              em.chart-type {{results.chartType}}
            p.datetime(v-bind:title="results.dateinfo.display_utc") {{results.dateinfo.display}}
            p.notes.zoneinfo.small {{results.dateinfo.info}}
            p.location-name.small(:title="results.geo.coords") {{results.geo.address}}
            p.ayanamsa.small
              strong.label Ayanamsa
              span.value {{results.ayanamsa}}
              em.type {{options.ayanamsaName}}
            p.hsy.small
              strong.label House System
              span.value {{options.houseName}}
          div#aspect-controls
            h4 Show Aspects
            input#show-main-aspects.checkbox(type="checkbox" name="show_main_aspects"  checked="true")
            label.aspect-label(for="show-main-aspects") Main
            input#show-minor-aspects.checkbox(type="checkbox" name="show_minor_aspects")
            label.aspect-label(for="show-minor-aspects") Minor
        div#results-pane.large-pane(:class="{active:activeTab=='results'}")
          div.inner
            include includes/info-pane.pug
        div#dashas-pane.large-pane(:class="{active:activeTab=='dashas'}")
          div.inner
            include includes/dasha-pane.pug
  script(type="text/javascript")!=dataVars      
  script(data-source="internal" type="text/javascript" src="/js/aiq-chart.js")
  script(data-source="internal" type="text/javascript" src="/js/aiq-page.js")
  input#gmap-api-key(type="hidden" value=google.map_apikey)
  //- input#jq-resources(type="hidden" value="/js/lib/jquery-ui.min.js,/js/datebox/js/jtsage-datebox.min.js")