doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(type="text/css" href="//unpkg.com/purecss@0.6.1/build/pure-min.css" rel="stylesheet")
  link(type="text/css" href="/css/style.css" rel="stylesheet")
  link(type="text/css" href="/css/svg-charts.css" rel="stylesheet")
  link(type="text/css" href="/icomoon/style.css" rel="stylesheet")
  script(type="text/javascript" src="/js/lib/lodash.min.js")
  script(type="text/javascript" src="/js/lib/vue.min.js")
  script(type="text/javascript" src="/js/lib/axios.min.js")
  script(type="text/javascript" source="internal" src="/js/lib/d3.v4.js")
  script(type="text/javascript" source="internal" src="/js/lib/d3-drag.min.js")
  script(type="text/javascript" source="internal" src="/js/lib/d3-selection-multi.v0.4.min.js")
  script(data-source="internal" type="text/javascript" src="/js/utils.min.js")
  link(type="text/css" href="/js/datebox/css/custom-datebox.css" rel="stylesheet")
  title= title
body
  div#astroiq

        
    object#chart-main
      include ../svgs/charts/combined.svg
      div#infobox(:class="{'has-data': chartData.active}")
        p.candidate
          span.label Name: 
          strong.person-name {{chartData.name}}
          em.datetime {{chartData.dateStr}}
        p.location-name(:title="chartData.coords") {{chartData.address}}


    div#results-main
      div.inner
        include includes/results-pane.pug

              


  script(data-source="internal" type="text/javascript" src="/js/astrochart.js")
  script(data-source="internal" type="text/javascript" src="/js/astroiq-chart.js")
