doctype html
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(type="text/css" href="//unpkg.com/purecss@0.6.1/build/pure-min.css" rel="stylesheet")
  link(type="text/css" href="/css/style.css" rel="stylesheet")
  link(type="text/css" href="/css/chart.css" rel="stylesheet")
  link(type="text/css" href="/icomoon/style.css" rel="stylesheet")
  script(type="text/javascript" src="/js/lib/jquery.min.js")
  //- script(type="text/javascript" src="/js/lib/jquery-ui.min.js")
  script(type="text/javascript" src="/js/lib/jquery.mousewheel.min.js")
  //- script(type="text/javascript" src="/js/datebox/js/jtsage-datebox.min.js")
  script(type="text/javascript" source="internal" src="/js/snap/dist/snap.svg-min.js")
  script(data-source="internal" type="text/javascript" src="/js/utils.js")
  //- link(type="text/css" href="/js/datebox/css/custom-datebox.css" rel="stylesheet")
  title= title
body
  include includes/header.pug

  aside#control-panel
    include includes/control-form.pug
    div#queries

  div#main
    ul.hor-tabs
      li.chart.european.active Western
      li.chart.indian Indian
      li.map Map
      li.results.disabled Results
    object#chart-pane.large-pane.active
      include ../svgs/charts/astro-chart.svg
      div#infobox
    div#map-pane.large-pane
      div#gmap

    div#results-pane.large-pane
      div.inner

  //- script(src="/js/kutejs/kute.min.js")
  //- script(src="/js/kutejs/kute-attr.min.js") 
  //- script(src="/js/kutejs/kute-svg.min.js")
  script(data-source="internal" type="text/javascript" src="/js/astro-charts.js")
  script(data-source="internal" type="text/javascript" src="/js/chart.js")
  div#gmap-api-key(data-key="AIzaSyCGq1eIKwzv92oPoBGzxhIkp4C8anr0_Ow")
  div#jq-resources(data-jqui="/js/lib/jquery-ui.min.js" data-jqdb="/js/datebox/js/jtsage-datebox.min.js")