doctype html
head
  link(type="text/css" href="//unpkg.com/purecss@0.6.1/build/pure-min.css" rel="stylesheet")
  style(media="all") @import url('/css/style.css')
  style(media="all") @import url('/iconmoon/css/style.css')
  script(src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
  script(type="text/javascript" source="internal" src="/js/snap/dist/snap.svg-min.js")
body
  include includes/header.pug

  aside#control-panel
    include includes/control-form.html

  div#main
    ul.hor-tabs
      li(class="chart european active") Western
      li(class="chart indian") Indian
      li(class="map") Map
      li(class="results disabled") Results
    object#chart-pane(class="large-pane active")
      include ../svgs/charts/astro-chart.svg

    div#map-pane.large-pane
      div#gmap

    div#results-pane.large-pane
      div.inner

  script(src="/js/kutejs/kute.min.js")
  script(src="/js/kutejs/kute-attr.min.js") 
  script(src="/js/kutejs/kute-svg.min.js")
  
  script(data-source="internal" type="text/javascript" src="/js/chart.js")
  div(id="gmap-api-key" data-key="AIzaSyCGq1eIKwzv92oPoBGzxhIkp4C8anr0_Ow")