doctype html
head
  link(type="text/css" href="//unpkg.com/purecss@0.6.1/build/pure-min.css" rel="stylesheet")
  style(media="all") @import url('/css/style.css')
  script(src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")
  script(type="text/javascript" source="internal" src="/js/snap/dist/snap.svg-min.js")
body
  include includes/header.pug

  aside#control-panel
    include includes/control-form.html

    div#gmap

    footer#mini-anim
      object#tween-symbol-container
        include ../svgs/charts/tween-symbols.svg
  div#main
    ul.hor-tabs
      li(class="zodiac active") Chart
      li(class="results") Results
    object#zodiac-pane(class="zodiac-pane active")
      ul#chart-mode.ver-tabs
        li(class="european active") European
        li(class="indian") Indian
      include ../svgs/charts/astro-chart.svg

    div#results-pane(class="zodiac-pane")

  script(src="/js/kutejs/kute.min.js")
  
  script(src="/js/kutejs/kute-attr.min.js")
  
  script(src="/js/kutejs/kute-svg.min.js")
  
  script(data-source="internal" type="text/javascript" src="/js/chart.js")
  div(id="gmap-api-key" data-key="AIzaSyCGq1eIKwzv92oPoBGzxhIkp4C8anr0_Ow")