fieldset.collapsible.closed
  h4.toggle Celestial Calculations
  p#form-mode.sub-section.radios
    label(for="form-mode") Topo/Geo:
    input#form-mode-topo.mode(type="radio" value="topo" name="mode" checked="true" )
    label(for="form-mode-topo") Topocentric
    input#form-mode-geo.mode(type="radio" value="geo" name="mode" class="mode")
    label(for="form-mode-geo") Geocentric
