// -
// - Use 337 bindus (excluding Lagna) selected
// - Use 386 bindus (including Lagna)
// - -------------------------------------
// - Use Parashari bindus selected
// - Use Varahamihira's bindus
// - -------------------------------------
// - Show Rahu's Ashtakavarga (Yavanacarya)
