fieldset.collapsible.closed
  h4.toggle Tropical vs. Sidereal (Ayanāṃśa)
    p.sub-section
      label(for="form-ayanamsa") Ayanāṃśa
      select#form-ayanamsa.select-input(name="ayanamsa")
        each opt,index in ayanamsas
          option(value = opt.value selected=opt.selected)= opt.label
