// - D-02 Horā  (Classical Ca/Le (Standard Parāśara), Umā-Śambhu)
// - D-03 Drekkana (Standard Parāśara, Umā-Śambhu)
// - D-04 Chaturāṁśa (Standard Parāśara, Parivṛtti (cyclical) D4 / H4)
// - D-05 Pañcāṁśa (Standard Parāśara, Parivṛtti (cyclical) D5 / H5)
// - D-06 Ṣaṣtāṁśa
// - D-07 Saptāṁśa
// - D-08 Aṣṭhāṁśa (Parivṛtti (cyclical) D8/ H8, Continuous & regular, Tattva based Discontinuous Dṛ. B.V. Raman)
// - D-09 Navāṁśa (Standard Parāśara / Parivṛtti, Kalachakra, Krishna Mishra)
// - D-10 Daśāṁśa
// - D-11 Rudrāṁśa (Iyer Labhāṁśa, Tajik Ekadaśāṁśa, Zodiacal Pt. Rath, Anti-Zodiacal Dr. B.V. Raman)
// - D-12 Dvadaśāṁśa
// - D-16 Ṣodaśāṁśa (Standard Parāśara, Phala Dīpika / Iyer, Parivṛtti (cyclical)??)
// - D-20 Viṁśāṁśa
// - D-24 Siddhāṁśa
// - D-27 Nakṣatrāṁśa
// - D-30 Triṁṣāṁśa (Standard Parāśara, Parivṛtti (cyclical), Ṣaṣṭyaṁśa like Triṁṣāṁśa)
// - D-40 Khavedāṁśa
// - D-45 Akṣavedāṁśa
// - D-60 Ṣaṣṭyaṁśa
// - (D-81 Nava-navāṁśa)
// - (D-108 Aṣṭoṭṭarāṁśa)
// - (D-144 Dvadaśāṁśa-dvadaśāṁśa)
// - (D-150 Naḍiaṁśa) Irregular specs
