// - ------------------------------------- [jHora]
// - Dhūma-Vyatīpāta Calculation
// - -- Vyatīpāta = 360° - Dhūma
// - -- Vyatīpāta = Dhūma + 53°20'
// - ------------------------------------- [jHora]
// - Gulika = Māndi and vice versa
// - Gulika rises at the (beginning/middle/end) of (eighth/Saturn's) portion
// - Māndi rises at the (beginning/middle/end) of (eighth/Saturn's) portion
// - -------------------------------------
// - Each Upagraha () rises at the (beginning/middle/end) of respective portion
// - -------------------------------------
// - Sunrise definition for calculating Upagrahas like Gulika and Māndi
// - -- Day and night start at Sunrise and Sunset respectively
// - -- Day and night start at 6AM LMT and 6PM LMT respectively
