// - --------------------------------------------------------
// - Which of two classical sources for Mṛtyubhāga to follow?
// - --> Sārāvalī, Jātaka Pārijāta, Sarvārtha Cintāmaṇi
// - --> Phala Dīpika, Bṛhat Prājāpatyaṁ
// - -------------------------------------------------------
// - Sphere of influence of recorded Mṛtyubhāga degree (example 5°00')
// - --> recorded degree is the beginning of area (5°00' to 6°00')
// - --> recorded degree is the middle of area (4°30' to 5°30')
// - --> recorded degree is the end of area (4°00' to 5°00')
