// -  Checkboxes
// -  display/hide  Uranus/Neptune/Pluto
// -  display/hide  Asteroids (Ceres, Pallas, Juno, Vesta etc.)
// -  display/hide  Centaurians -> Chiron, Pholus,

// -  display/hide Upagrahas: Dhūma, Vyatīpāta, Parīveṣa, Indracāpa, Upaketu
// -  display/hide Kāla Velas: Kāla, Mṛtyu, Arthaprahāra, Yamaghantaka
// -  display/hide Kāla Velas: Gulika and/or Māndi (various settings)
