// - -------------------------------
// - h5 Chart style selection
// - - Use Western style (circular)
// - - Use Western style (medieval) <--- phase II
// - - Use Indian style (North)
// - - Use Indian style (South)
// - - Use Indian style (East) <--- phase II
// - -------------------------------
// - h5 Graha (Planet) Glyph selection
// - - Use Western symbols
// - - Use Devanagari letters
// - - Use Latin alphabet 2 letter abbreviation (Su, Mo, Ma, Me, Ju, Ve, Sa, Ra, Ke)
// - - Use IAST 2 letter abbreviation (Sū/Ra, Cṅ, Ṃn/Ku, Bu, Gu/Bṛ, Śu, Śa, Rā, Ke)
// - - Use Gujarati letter glyphs <--- phase II
// - - Use Punjabi letter glyphs <--- phase II
// - - Use Bengali letter glyphs <--- phase II
// - - Use Tamil alphabet glyphs <--- phase II
// - - Use Kannada letter glyphs <--- phase II
// - - Use Telugu letter glyphs <--- phase II
// - - Use Malayalam letter glyphs <--- phase II
// - -------------------------------
// - h5 Zodiac Sign Glyph
// - - Use Western symbols
// - - Use Devanagari numbers
// - - Use Western numbers
// - - Use Roman Numbers
