// - Radio buttons (1 choice only)
// - Use Western style (circular)
// - Use Western style (medieval) <--- phase II
// - Use Indian style (North)
// - Use Indian style (South)
// - Use Indian style (East) <--- phase II
